@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@import "./phoenix.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Layers overlay styles */
.layers-layout {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: "Syne Mono", monospace;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.layers-layout * {
  margin: 0;
  padding: 0;
}

.layers-layout .palette-1 { color: #ECD078; }
.layers-layout .palette-2 { color: #D95B43; }
.layers-layout .palette-3 { color: #C02942; }
.layers-layout .palette-4 { color: #542437; }
.layers-layout .palette-5 { color: #53777A; }

.layers-layout .main {
  display: flex;
  color: #ECD078;
  background-color: #542437;
  border-radius: 5px;
  padding: 16px;
  margin-right: 10px;
  margin-bottom: 16px;
  position: relative;
}

.layers-layout .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.layers-layout .title {
  font-weight: bold;
}

.layers-layout #coverImg {
  width: 64px;
  height: 64px;
}

.layers-layout .marquee {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ff69b4;
  font-size: 64px;
  width: 100vw;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.layers-layout .marquee__text {
  display: inline-block;
  animation: marquee-scroll 60s linear infinite;
}

.layers-layout h1 {
  font-size: 64px;
  bottom: 1.5rem;
  right: 2rem;
  position: absolute;
  color: white;
  visibility: hidden;
}

.layers-layout #root {
  display: contents;
}

.layers-layout #app {
  width: 100%;
  height: 100%;
}

@keyframes marquee-scroll {
  0% { transform: translateX(100vw); }
  100% { transform: translateX(calc(-100% - 100vw)); }
}
