<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet" />
    <.live_title suffix=" MoniqueLive Bot">
      <%= assigns[:page_title] || "WebApp" %>
    </.live_title>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <style>
      .palette-1 { color: #ECD078; }
      .palette-2 { color: #D95B43; }
      .palette-3 { color: #C02942; }
      .palette-4 { color: #542437; }
      .palette-5 { color: #53777A; }

      * {
          margin: 0;
          padding: 0
      }

      body {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;

          font-family: 'Syne Mono', monospace;
          height: 100vh;
          overflow: hidden;
      }

      .main {
          display: flex;

          color: #ECD078;
          background-color: #542437;
          border-radius: 5px;

          padding: 16px;
          margin-right: 10px;
          margin-bottom: 16px;

          position: relative;
      }

      .container {
          display: flex;
          flex-direction: column;
          justify-content: center;

          margin-left: 16px;
      }

      .title {
          font-weight: bold;
      }

      #coverImg {
          width: 64px;
          height: 64px;
      }

      marquee {
          background-color: rgba(0,0,0,0.3);
          color: #ff69b4;
          font-size: 64px;
          width: 75.5%;
          left: 24%;
          position: absolute;
      }

      h1 {
        font-size: 64px;
        top: 1.5rem;
        right: 2rem;
        position: absolute;
        color: white;
      }

      #root {
          display: contents;
      }
    </style>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
